body {
  margin: 0 !important;
  font-family: sans-serif;
}

#input-group-dropdown-1 {
  color: #ffffff;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
} */
